<div class="container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="my-card">
        <% if cocktail.photo.attached? %>
          <div class="my-card-img" style="background-image:url('<%= cl_image_path cocktail.photo.key %>')"></div>
          <% puts "I should display the photo with the key : #{cocktail.photo.key}" %>
        <% else %>
          <div class="my-card-img" style="background-image:url('<%= @img_placeholder %>')"></div>
        <% end %>
        <div class="my-card-text">
          <h5 class="card-title"><%= cocktail.name %></h5>
          <p class="card-text"><%= cocktail.description %></p>
          <%= link_to cocktail_path(cocktail) do %>
            <i class="far fa-eye show-icon"></i>
          <% end %>
          <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fas fa-minus-circle delete-icon"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>


