<div class="container">

  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="my-card">
        <% img_placeholder = "https://library.kissclipart.com/20180830/ike/kissclipart-cocktail-png-clipart-cocktail-martini-screwdriver-0320b7841261c238.jpg" %>
        <div class="my-card-img" style="background-image:url('<%= cocktail.image || img_placeholder %>')"></div>
        <div class="my-card-text">
          <h5 class="card-title"><%= cocktail.name %></h5>
          <p class="card-text"><%= cocktail.description %></p>
          <%= link_to cocktail_path(cocktail) do %>
            <i class="far fa-eye show-icon"></i>
          <% end %>
          <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fas fa-minus-circle delete-icon"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>


